fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pandas
python-multipart
sentence-transformers
faiss-cpu
matplotlib
deep-translator
langdetect
openai
python-dotenv
aiofiles
uvicorn
requests
ollama 
langchain 
matplotlib 
plotly